[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BiObjClass"]
	path = BiObjClass
	url = https://github.com/cran/BiObjClass
[submodule "ppRank"]
	path = ppRank
	url = https://github.com/cran/ppRank
